<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Favicon -->
    <link href={{ url_for('static',filename='img/favicon.png') }} rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Sunny</title>
</head>
<body onload="setprogress()">
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        function setprogress() {
            document.getElementById("cpparia").style.width = '{{ skills.cpp }}%';
            document.getElementById("htmlaria").style.width = '{{ skills.html }}%';
            document.getElementById("javaaria").style.width = '{{ skills.java }}%';
            document.getElementById("mysqlaria").style.width = '{{ skills.mysql }}%';
            document.getElementById("pythonaria").style.width = '{{ skills.python }}%';
            document.getElementById("phparia").style.width = '{{ skills.php }}%';
        return;
        }
    </script>
</body>
</html>
