{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row ">
        <div class="col-sm-3 sticky-lg-top" align="right">
            <div class="d-flex flex-column text-center overflow-auto shadow">
                <img src={{ url_for('static',filename='img/profile.jpg') }}>
                <h1 class="text-primary mt-2">{{bio.name}}</h1>
                <span class="fw-medium text-primary mb-3">{{bio.qualification}}</span>
                <div class="d-flex justify-content-center mb-3">
                    <a href={{bio.linkedin}}><i class="fab fa-linkedin-in"></i></a>
                    <a href={{bio.github}}><i class="fab fa-github"></i></a>
                    <a href={{bio.leetcode}}><i class="fa-solid fa-file-code"></i></a>
                    <a href="mailto:{{bio.email}}"><i class="fas fa-envelope"></i></a>
                    <a href="tel:{{bio.phone}}"><i class="fas fa-phone"></i></a>
                </div>
            </div>
            <div clas="mt-2" align="center" >
                <a href="/static/resume.pdf" class="button" >Save My Resume<i class="fa-solid fa-cloud-arrow-down"></i></a>
            </div>
        </div>
        <div class="col">
            <h1 class="text-primary"><u>About Me</u></h1>
            <span>{{bio.about}}</span>
            <div class="row">
                <ul class="ds-valuelist">
                    <li>
                        <strong>{{acheivements.experience}}</strong>
                        <span>Months Experience</span>
                    </li>
                    <li>
                        <strong>{{acheivements.gate}}</strong>
                        <span>GATE AIR</span>
                    </li>
                    <li>
                        <strong>{{acheivements.leetcode}}</strong>
                        <span>leetcode Rating</span>
                    </li>
                </ul>
            </div>
            <div>
                <h1 class="text-primary mt-3 mb-3"><u>Education</u></h1>
                <table class="table-sm table-bordered ">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Institue</th>
                            <th scope="col">Course</th>
                            <th scope="col">CGPA/Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for i in education%}
                        <tr>
                            <td>{{i.institute}}</td>
                            <td>{{i.course}}</td>
                            <td>{{i.gpa}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div>
                <h1 class="text-primary"><u>Expericence</u></h1>
                <ul>
                    {%for i in experience%}
                    <li>
                        <img src="{{ url_for('static',filename='img/')}}{{i.image}}" width="125" height="30" />
                        <h5 class="mb-1 mt-2">{{i.title}}</h5>
                        <p class="mb-2"><small>{{i.duration}}</small></p>
                        <p>{{i.description}}</p>
                    </li>
                    {%endfor%}
                </ul>

            </div>
            <div>
                <h1 class="text-primary"><u>Projects</u></h1>
                <ul>
                    {%for i in projects%}
                    <li>
                        <h5 class="mb-1 mt-2">{{i.title}}</h5>
                        <p class="mb-2">{{i.about}}</p>
                    </li>
                    {%endfor%}
                </ul>
            </div>
            <h1 class="text-primary"><u>Skills</u></h1>
            <div class="row">
                <div class="col">
                    <h3>C++</h3>
                    <div class="progress mb-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated .active " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="cpparia" style="background-color:red"></div>
                    </div>
                </div>
                <div class="col">
                    <h3>Python</h3>
                    <div class="progress mb-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="pythonaria" style="background-color:yellow"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>PHP</h3>
                    <div class="progress mb-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="phparia" style="background-color:deepskyblue"></div>
                    </div>
                </div>
                <div class="col">
                    <h3>MySQL</h3>
                    <div class="progress mb-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="htmlaria" style="background-color:greenyellow"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>HTML</h3>
                    <div class="progress mb-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="mysqlaria" style="background-color:orange"></div>
                    </div>
                </div>
                <div class="col">
                    <h3>JavaScript/CSS</h3>
                    <div class="progress mb-1">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="javaaria" style="background-color:mediumpurple"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

